CO_Excel/Service References/CO_EXCEL_Service/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://huliming:9988/CO_EXCEL_SERVICE.Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://huliming:9988/CO_EXCEL_SERVICE.Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://huliming:9988/CO_EXCEL_SERVICE.Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CO_EXCEL_SERVICE" />
      <xsd:import schemaLocation="http://huliming:9988/CO_EXCEL_SERVICE.Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://huliming:9988/CO_EXCEL_SERVICE.Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTreeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTreeInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTreeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTreeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_OpenFile_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenFile" />
  </wsdl:message>
  <wsdl:message name="IService1_OpenFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_lockFile_InputMessage">
    <wsdl:part name="parameters" element="tns:lockFile" />
  </wsdl:message>
  <wsdl:message name="IService1_lockFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:lockFileResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_unLockFile_InputMessage">
    <wsdl:part name="parameters" element="tns:unLockFile" />
  </wsdl:message>
  <wsdl:message name="IService1_unLockFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:unLockFileResponse" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo">
    <wsdl:part name="parameters" element="tns:RemoteFileInfo" />
  </wsdl:message>
  <wsdl:message name="RemoteFileInfo_Headers">
    <wsdl:part name="FileName" element="tns:FileName" />
  </wsdl:message>
  <wsdl:message name="IService1_upLoad_OutputMessage" />
  <wsdl:message name="IService1_UnsetReadOnly_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsetReadOnly" />
  </wsdl:message>
  <wsdl:message name="IService1_UnsetReadOnly_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsetReadOnlyResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTreeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTreeInfo" message="tns:IService1_GetTreeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTreeInfoResponse" message="tns:IService1_GetTreeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/OpenFile" message="tns:IService1_OpenFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/OpenFileResponse" message="tns:IService1_OpenFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lockFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/lockFile" message="tns:IService1_lockFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/lockFileResponse" message="tns:IService1_lockFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="unLockFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/unLockFile" message="tns:IService1_unLockFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/unLockFileResponse" message="tns:IService1_unLockFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="upLoad">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/upLoad" name="RemoteFileInfo" message="tns:RemoteFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/upLoadResponse" message="tns:IService1_upLoad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsetReadOnly">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UnsetReadOnly" message="tns:IService1_UnsetReadOnly_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UnsetReadOnlyResponse" message="tns:IService1_UnsetReadOnly_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTreeInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTreeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenFile">
      <soap:operation soapAction="http://tempuri.org/IService1/OpenFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lockFile">
      <soap:operation soapAction="http://tempuri.org/IService1/lockFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="unLockFile">
      <soap:operation soapAction="http://tempuri.org/IService1/unLockFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upLoad">
      <soap:operation soapAction="http://tempuri.org/IService1/upLoad" style="document" />
      <wsdl:input name="RemoteFileInfo">
        <soap:header message="tns:RemoteFileInfo_Headers" part="FileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsetReadOnly">
      <soap:operation soapAction="http://tempuri.org/IService1/UnsetReadOnly" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://huliming:9988/CO_EXCEL_SERVICE.Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>